@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');
@import "tailwindcss";

html, body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.chessPlayContainer {
  background-color: #efebe5;
}

.chessBoardCotainer {
  background-color: #f9f6ed;
}

.blackBoardBox {
  background-color: #888883;
}

.whiteBoardBox {
  background-color: #f9f6ed;
}

.selectedPiece {
  border: 2px solid #000;
  background-color: #ede0d4;
}
